Backend/WoodDecorBackend/bin/
Backend/WoodDecorBackend/obj/
Backend/WoodDecorBackend/publish_beta1.0/Archive.zip
Backend/WoodDecorBackend/publish_beta1.0/Archive.zip
Backend/WoodDecorBackend/publish_beta1.0/Archive.zip
.DS_Store
